
.carousel-inner{
  // max-width: 80%;
  margin: 2rem auto;
  overflow: hidden;
  border: 20px outset #e1c8af;
  // border: 1vw solid rgb(174, 135, 95);
  border-radius: 5px;
  // box-shadow: rgba(174, 135, 95, 0.05) 0vw 1vw 2vw, rgba(174, 135, 95, 0.05) 0vw 2vw 4vw;
  box-shadow: rgba(174, 135, 95, 0.45) 0px 5px 15px;
}
