<%= render 'pages/accueil' %>

<div class="container" id="perso">

  <h1 class="main-title" >Qui suis je?</h1>

  <div class="items">


    <div class="item_1">
      <h4> Avant tout, une reconversion professionnelle...</h4>
      </div>
          <div class="photo">
    </div>
    <div class="item_2">
          <p>Infimière pendant neuf ans, j'ai décidé début 2022 d'entammer une reconversion dans le milieu de la tech et plus précisemment comme développeuse web !
          J'ai donc débuté ce projet en m'inscrivant au bootcamp au Wagon Lyon.
          La formule du bootcamp permet de voir énormément de nouveaux concepts en minimum de temps mais la manière d'enseigner au Wagon nous permet de ne pas être perdu. J'ai adoré ces neuf semaines, c'était à la fois intense et tellement enrichissant.
          Je termine le bootcamp en décrochant la certification de <i>"conceptrice - développeuse d'application web"</i>.</p>
      </div>
    <div class="item_3">
      <h4> Et après?</h4>
        <p>J'ai donc continué de me former seule. Grace à Code Academy et Udemy j'ai pu acquérir en compétence. Je trouve qu'il est plus facile  d'avancer de manière autonome après le bootcamp car le Wagon nous a apporté une bonne méthode de travail et nous inciter à chercher par nous même. J'ai aussi développé un projet personnel.</p>
      </div>

    <div class="item_4">
      <h4> Et maintenant?</h4>
        <p>Je recherche activement un poste fullstack dans une entreprise développant sur ruby and rails. J'aime particulièrement ce framework car je le trouve accessible, très développé et très lisible grâce à son écriture qui ressemble énormément à de l'anglais. </p>
      </div>

    <div class="item_5">
      <h4> A propos de moi</h4>
        <p>Par mes expériences professionnelles précédentes dans le milieu de la santé j’ai su prouver mon implication et ma détermination dans un milieu professionnel requérant une bonne résistance au stress et des facultés d’adaptation.  </p>
        <h4>Mes centres d'intéret sont assez variés</h4>
        <ul>
          <li> J'ai toujours eu une passion pour le voyage. J'adore découvrir de nouvelles cultures, m'émerveiller devant des paysages incroyables. La période covid a mis cette passion entre parenthèse mais j'ai pu a nouveau repartir il y a quelques mois à Tahiti. Que ce soit l'Asie, l'Amérique Latine, les Caraïbes, la polynésie mon coeur balance.
          </li>
          <li> Lors de mon dernier voyage j'ai pu expérimenter pour la première fois la plongée sous marine et ca a été un énorme coup de coeur. J'avais beaucoup d'impréhension mais finalement ça a été une expérience incroyable. J'ai le regret de ne pas en avoir fait plus... Mais bon ca sera l'occasion d'un nouveau voyage  </li>
          <li>Au quotidien j'aime énormement cuisiner et plus particulièrement faire de la patisserie. Plus ça va plus je m'équipe et plus j'arrive à améliorer mes gateaux et à les rendre les plus appétissant possible.</li>
       </ul>

  </div>
</div>
