<div class="container">

  <%# <div class="contact-merci"> %>
    <div class="contact-msg">
        <h2 class="msg-text">Merci pour votre message ! </h2>
        <h3 class="msg-text">Je reviendrais vers vous au plus vite ! </h3>
    </div>
    <%# <div class="image_contact">
      <%= image_tag "mimosa.jpg"
    </div> %>
  <%# </div> %>

</div>

<%= render 'shared/footer' %>
